# API configuration
API_HOST=0.0.0.0
API_PORT=8000
APP_NAME=Dummy API
DATABASE_URL=postgresql+asyncpg://dummy_user:dummy_password@dummy_host:dummy_port/dummy_db # not localhost,because of isolated network
DEBUG=false
ENVIRONMENT=dev
LOG_LEVEL=INFO

# Database configuration
POSTGRES_DB=dummy_db
POSTGRES_USER=dummy_user
POSTGRES_PASSWORD=dummy_password
POSTGRES_HOST=dummy_host
POSTGRES_PORT=dummy_port